<!DOCTYPE html>
<html>
    <head>
        <title>OAuth</title>
    </head>
    <body>
        <nav>
            <ul>
                <li>
                    <a href="/">Homepage</a>
                </li>
            </ul>
        </nav>
        <header>
            My OAuth App
        </header>
    </body>
</html>