<!DOCTYPE html>
<html>

<head>
    <title>OAuth</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/">Homepage</a>
            </li>
            <li>
                <a href="/auth/login">login</a>
            </li>
            <li>
                <a href="/auth/logout">logout</a>
            </li>
        </ul>
    </nav>
    <header>
        <h1>Login Using...</h1>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a>
        </main>
    </header>
</body>

</html>