<!DOCTYPE html>
<html>

<head>
    <title>OAuth</title>
</head>

<body>
    <header>
        <h1>Login Using...</h1>
        <main>
            <a class="google-btn" href="/auth/google">Google+</a>
        </main>
    </header>
</body>

</html>